@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.googleapis.com/css?family=Roboto);
}

@font-face {
	font-family: 'Roboto';
	font-style: bold;
	font-weight: 600;
	src: url(https://fonts.googleapis.com/css?family=Roboto);
}

	.md-col1 {
		width: 8.33%;
	}
	.md-col2 {
		width: 16.66%;
	}
	.md-col3 {
		width: 24.99%;
	}
	.md-col4 {
		width: 33.82%;
	}
	.md-col5 {
		width: 41.65%;
	}
	.md-col6 {
		width: 50%;
	}
	.md-col7 {
		width: 58.33%;
	}
	.md-col8 {
		width: 66.66%;
	}
	.md-col9 {
		width: 74.99%;
	}
	.md-col10 {
		width: 83.32%;
	}
	.md-col11 {
		width: 91.65%;
	}
	.md-col12 {
		width: 100%;
	}

aside, main {
	float: left;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 13px;
}

aside {
	margin-top: 290px;
	padding: 17px 10px;
	background-color: #f5f5f2;

	div {
		padding-bottom: 15px;
		&#subCategory {
			p {
				padding-bottom: 10px;
			}
		}
		&#rating {
			p {
				padding-bottom: 10px;
			}
		}
	}

	h3{
		font-weight: 600;
		font-size: 14px;
		padding-bottom: 10px;
	}
	[type="radio"]:checked,
	[type="radio"]:not(:checked) {
    	position: absolute;
    	left: -9999px;
	}

	[type="radio"]:checked + label,
	[type="radio"]:not(:checked) + label {
	    position: relative;
	    padding-left: 28px;
	    cursor: pointer;
	    line-height: 20px;
	    display: inline-block;
	}
	[type="radio"]:checked + label:before,
	[type="radio"]:not(:checked) + label:before {
	    content: '';
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 14px;
	    height: 14px;
	    border: 1px solid #ddd;
	    border-radius: 100%;
	    background: #fff;
	}
	[type="radio"]:checked + label:after,
	[type="radio"]:not(:checked) + label:after {
	    content: '';
	    width: 10px;
	    height: 10px;
	    background: #42b0f0;
	    position: absolute;
	    top: 3px;
	    left: 3px;
	    border-radius: 100%;
	    -webkit-transition: all 0.2s ease;
	    transition: all 0.2s ease;
	}
	[type="radio"]:not(:checked) + label:after {
   		opacity: 0;
    	-webkit-transform: scale(0);
    	transform: scale(0);
	}
	[type="radio"]:checked + label:after {
    	opacity: 1;
    	-webkit-transform: scale(1);
    	transform: scale(1);
	}


	[type="checkbox"]:checked,
	[type="checkbox"]:not(:checked) {
		@extend [type="radio"]:checked;
	}

	[type="checkbox"]:checked + label:before,
	[type="checkbox"]:not(:checked) + label:before {
		border-radius: 20%;
	}

	[type="checkbox"]:checked + label:after,
	[type="checkbox"]:not(:checked) + label:after {
		background: url('checked.png') no-repeat center center;
	}

	[type="checkbox"]:not(:checked) + label:after {
   		opacity: 0;
    	-webkit-transform: scale(0);
    	transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
    	opacity: 1;
    	-webkit-transform: scale(1);
    	transform: scale(1);
	}



}

option {
	color: #444343;
	padding: 10px;
}


main {
	margin-top: 340px;
	padding: 20px;

	.item {
		border: 1px solid lightgray;
		padding: 20px;
		margin-bottom: 10px;

		h2 {
			color: #44ace9;
			font-weight: 600;
			padding-bottom: 15px;
			font-size: 14px;
		}

		ul {
			li {
				display: inline-block;
				padding: 0px 10px;
				border-right: 1px solid lightgray;
				margin-bottom: 20px;
				color: #b1b1b1;
				&:first-child {
					padding-left: 0px;
				}
				&:first-letter {
					text-transform: capitalize;
				}
				&:last-child {
					border-right: none;
				}
				span {
					color: black;
					padding-left: 5px;
					&:first-letter {
						text-transform: capitalize;
					}
				}
				a {
					color: #44ace9;
				}
			}
		}

		.desc {
			padding-bottom: 20px;
		}
		.category, .catList, .catList h3{
			display: inline-block;
		}
		.category {
			padding: 0px 10px 0px 20px;
			border-right: 1px solid lightgray;
			color: #b1b1b1;

			span {
				color: black;
			}
		}

		.catList {
			padding-left: 10px;
			color: #b1b1b1;

			li {
				border-right: none;
				color: #797979;
				background-color: #f6f6f5;
				margin: 0px 5px;
				padding: 10px;
			}
		}

		.client {
			@extend .category;
			display: inline-block;
			border-right: none;
		}

		.rating {
			display: inline-block;
			font-weight: 600;
			position: relative;
			padding-top: 10px;
			&:after {
				content: "";
				background: url('stars.png') no-repeat center center;
				background-size: contain;
				width: 75px;
				height: 15px;
				position: absolute;
				bottom: -1px;
				left: 25px;
			}
		}

	}

}




@media screen and (max-width: 780px) {
	aside {
		display: none;
	}

	main {
		width: 100%;
		.item {
			.catList {
				padding-left: 20px;
			}
		}
	}
}