@import "variables";


.main {
	background: $mainBG no-repeat center center;
	background-size: cover;
	height: 100%;
	padding-top: 154px;
	font-family: 'Arial';

	.block {
		max-width: 806px;
		height: auto;
		box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07), inset 0 2px 2px rgba(0, 0, 0, 0.09);
		border: 3px solid #ffffff;
		background-color: #fcfcfc;
		margin: 0 auto 200px;
		padding: 20px 0px;

		.row {
			width: 100%;
			margin: 0px 0px 40px 0px;
			height: auto;
			white-space: nowrap;
			flex-wrap: nowrap;

			div {
				text-align: center;
				white-space: normal;
				padding: 0px 2%;

				.buttonBlue {
					margin: 0 auto 28px;
					max-width: 100%;
					height: auto;
					overflow-wrap: break-word;

					.btn {
						border-radius: 15px;
						border: 2px solid white;
						box-shadow: 0 3px 2px rgba(0, 0, 0, 0.18);				background-image: linear-gradient(to top, #0075a6 0%, #56b5ff 100%);
						width: 100%;
						height: auto;
						white-space: pre-line;
					}
				}

				.wavyText {
					font-size: 18px;
					color: #333333;
					font-weight: 400;
					line-height: 20px;
					margin: 0 auto;
					height: auto;
					max-width: 100%;
					text-align: justify;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					border-image: url(../img/wavy.png) 100% 1 100% round;
					padding-top: 15px;
				}

			}
			.pink {
				position: relative;
				padding: 15px;
  				border: 2px solid #e3e3e3;
  				text-align: center;
  				background: #fff;
  				border-radius: 20px;
  				margin-right: 10px;
  				&:before {
  					content: "";
					position: absolute;
					z-index: 10;
					bottom: -30px;
					right: 50px;
					width: 50px;
					height: 30px;
					border-style: solid;
					border-width: 0 2px 2px 0;
					border-color: #e3e3e3;
					background: transparent;
					-webkit-border-bottom-right-radius: 80px 50px;
					-moz-border-radius-bottomright: 80px 50px;
					border-bottom-right-radius: 80px 50px;
					display:block;
  				}
  				&:after {
  					content: "";
					position: absolute;
					z-index: 10;
					bottom: -30px;
					right: 84px;
					width: 20px;
					height: 30px;
					border-style: solid;
					border-width: 0 2px 2px 0;
					border-color: #e3e3e3;
					background: transparent;
					-webkit-border-bottom-right-radius: 40px 50px;
					-moz-border-radius-bottomright: 40px 50px;
					border-bottom-right-radius: 40px 50px;
					display:block;
  				}
				&>:first-child:after {
					content: "";
				  	position: absolute;
				  	bottom: -10px;
				  	right: 50px;
				  	width: 35px;
				  	height: 15px;
				  	background: #fff;
				}
				.innerBorder {
					max-width: 290px;
					height: 100%;
					border: 1px dashed #dee6f0;
					border-radius: 20px;
					margin: 0 auto;
					padding: 10px 10px 0;
					h2 {
						font-size: 24px;
						color: #dd567f;
					}
					p {
						font-size: 14px;
						color: #666666;
						line-height: 17px;
					}
				}

			}

			.marks {
				width: 120px;
				height: 70px;
				padding: 0;
				border-bottom: 10px solid transparent;
				border-image: url(../img/wavy.png) 100% 1 100% stretch;
				.statistics{
					margin: -100px 0px 10px;
					.row {
						margin: 0;
						.pinkyBar {
							width: 18px;
							height: 105px;
							box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.18), inset 0 0 0px 4px #feaed6;
							border: 2px solid #ffffff;
							background-color: #bfbfbf;
							background-color: #fed4e9;
							border-radius: 20px;
						}
						.blueBar {
							@extend .pinkyBar;
							height: 35px;
							background-color: #a1d5f8;
							box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.18), inset 0 0 0px 4px #4badf3;
						}
						.grayBar {
							@extend .pinkyBar;
							height: 65px;
							background-color: #cbd5da;
							box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.18), inset 0 0 0px 4px #9dafb8;
						}
					}
				}
				.pins {
					.pinky {
						background: url('../img/heart.png') no-repeat center center;
						height: 23px;
						width: 29px;
					}
					.blue {
						@extend .pinky;
						background: url('../img/clock.png') no-repeat center center;
					}
					.gray {
						@extend .pinky;
						background: url('../img/mark.png') no-repeat center center;
					}
				}
			}

			.code {
				background: url('../img/barcode.png') no-repeat 50% 0%;
				background-size: contain;
				vertical-align: top;
				height: auto;
				width: 97px;
			}

			.info {
				width: 535px;
				color: #666666;
				font-size: 12px;
				line-height: 14px;
				text-align: justify;
				border-bottom: 10px solid transparent;
				border-image: url(../img/wavy.png) 100% 1 100% stretch;
			}

			.qr {
				background: url('../img/qr.png') no-repeat center top;
				background-size: contain;
				height: 95px;
				width: 102px;
			}
		}
	}

	.second.block {
		.row {
			.marks {
				.statistics {
					.blueBar {
						height: 120px;
					}
				}
			}
		}
	}

	.third.block {
		.row {
			.marks {
				.statistics {
					margin-top: -30px;
					.pinkyBar {
						height: 20px;
					}
				}
			}
		}
	}
}